@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');

:root {
  --primary: black;
  --secondary: white;
  --primary-text: white;
  --hint: #FF3C3C;
  }

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  /* font-family: "Inter", sans-serif; */
  font-family: "Lexend", sans-serif;
  color: var(--primary-text)
}

.coordinates span {
  color: var(--hint);
}

.smoothIt {
  transition: transform 0.3s ease-out;
}

@keyframes scrollDot {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-2.35rem);
    opacity: 0.6;
  }
}

.scrollDot {
  animation: scrollDot 3s ease-in-out infinite;
}
