@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary: black;
  --secondary: white;
  --primary-text: white;
  --hint: #FF3C3C;
  }

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
  color: var(--primary-text)
}

.coordinates span {
  color: var(--hint);
}

.logo {
  width: 300px;
  height: 32px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(
  0 0,
  100% 0,
  100% 35%,
  82% 35%,
  77% 100%,
  23% 100%,
  18% 35%,
  0 35%
  );
}

.logo span {
  color: #ff3434;
  font-size: 14px;
  font-weight: 700;
}
